.footer {
  @include cards-gradient;
  flex: 0 0 auto;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__gh {
  width: 50px;
}

.footer__rss {
  align-items: center;
  width: 100px;
  padding-top: 10px;

  @include media-mobile {
    width: 70px;
  }
}

.github-logo {
  background: url(../assets/icons/github-logo.svg) no-repeat;
  background-size: contain;
  max-width: 50px;
  height: 50px;

  @include media-mobile {
    max-width: 31px;
    height: 35px;
  }
}

.rss-logo {
  background: url(../assets/icons/rs_school-logo.svg) no-repeat;
  background-size: contain;
  max-width: 100px;
  height: 50px;

  @include media-mobile {
    max-width: 60px;
    height: 35px;
    margin: 0;
  }
}

.footer__year {
  margin-left: 50px;

  @include media-tablet {
    margin-left: 50px;
  }
  
  @include media-mobile {
    margin-left: 15px;
  }
}