.question {
  @include cards-gradient;
  margin: 30px 0;
  display: flex;
  box-shadow: 0 9px 28px rgb(0 0 0 / 30%), 0 8px 12px rgb(0 0 0 / 22%);
}

.question__picture {
  background: url(../assets/images/guess.png) no-repeat;
  background-size: contain;
  width: 150px;
  height: 130px;
  margin: 10px;
}

.question__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  @include cards-gradient;
}

.question__name {
  margin-left: 5%;;
}