/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: #765f68;
  text-decoration: none;
}
a:hover, a:active, a:focus, a:focus-within {
  color: #765f68;
}

body {
  background: radial-gradient(circle, rgb(249, 220, 211) 16%, rgb(206, 171, 209) 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  height: 100vh;
}

main {
  flex: 1 0 auto;
}

/**
 * Basic typography style for copy text
 */
body {
  color: #765f68;
  font: normal 100%/1.5 "Roboto", sans-serif;
}

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 1180px; /* 1 */
  margin-left: auto; /* 2 */
  margin-right: auto; /* 2 */
  padding-left: 20px; /* 3 */
  padding-right: 20px; /* 3 */
  width: 100%; /* 1 */
}

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.header {
  flex: 0 0 auto;
  background: linear-gradient(45deg, rgb(248, 219, 229) 0%, rgb(255, 252, 247) 94%);
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  background: url(../assets/icons/logo.png) no-repeat;
  background-size: contain;
  width: 64px;
  height: 48px;
  margin: 5px 0;
}

.user-result {
  font-size: 18px;
}

.footer {
  background: linear-gradient(45deg, rgb(248, 219, 229) 0%, rgb(255, 252, 247) 94%);
  flex: 0 0 auto;
}

.footer-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__gh {
  width: 50px;
}

.footer__rss {
  align-items: center;
  width: 100px;
  padding-top: 10px;
}

.github-logo {
  background: url(../assets/icons/github-logo.svg) no-repeat;
  background-size: contain;
  max-width: 50px;
  height: 50px;
}

.rss-logo {
  background: url(../assets/icons/rs_school-logo.svg) no-repeat;
  background-size: contain;
  max-width: 100px;
  height: 50px;
}

.--hide {
  display: none;
}

.welcome {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 5;
}

.welcome__content {
  display: flex;
  flex-direction: column;
  background-color: rgba(248, 219, 229, 0.4);
  z-index: 10;
}

.welcome__desc {
  text-align: center;
  font-size: larger;
  font-weight: 700;
  margin: 20px auto 0;
  color: #2c0d1f;
}

.welcome-buttons {
  margin: 50px auto;
}

.welcome__button {
  width: 25vw;
  height: 6vh;
  font-family: "Merriweather", serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: #765f68;
  background-color: #fffcf7;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.welcome__button.cancel-btn:hover {
  background-color: rgb(253, 177, 185);
  box-shadow: 0px 15px 20px rgba(83, 72, 76, 0.4);
  color: #2c0d1f;
  transform: translateY(-7px);
}

.welcome__button.accept-btn:hover {
  background-color: rgb(228, 184, 255);
  box-shadow: 0px 15px 20px rgba(79, 72, 83, 0.4);
  color: #2c0d1f;
  transform: translateY(-7px);
}

.quiz {
  display: flex;
  flex-direction: column;
}

.result--hide {
  display: none;
}

.result {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.result__desc {
  text-align: center;
  font-size: larger;
  font-weight: 700;
  margin: 20px auto 0;
  color: #2c0d1f;
}

.result--win, .result--lose {
  text-align: center;
  font-size: 18px;
  color: #2c0d1f;
}

.result-btn-container {
  margin: 20px auto;
}

.result__button {
  width: 25vw;
  height: 6vh;
  font-family: "Merriweather", serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #765f68;
  background-color: #fffcf7;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.result__button:hover {
  background-color: rgb(253, 177, 185);
  box-shadow: 0px 15px 20px rgba(83, 72, 76, 0.4);
  color: #2c0d1f;
  transform: translateY(-7px);
}

.top-panel {
  width: 100%;
}
.top-panel ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.tp__el {
  width: 100%;
  text-align: center;
  background: linear-gradient(90deg, rgb(248, 219, 229) 0%, rgb(255, 252, 247) 50%, rgb(248, 219, 229) 100%);
  color: #765f68;
  padding: 4px 8px;
}

.tp--curr {
  background: #E7A1AC;
  color: #fffcf7;
}

.question {
  background: linear-gradient(45deg, rgb(248, 219, 229) 0%, rgb(255, 252, 247) 94%);
  margin: 30px 0;
  display: flex;
  box-shadow: 0 9px 28px rgba(0, 0, 0, 0.3), 0 8px 12px rgba(0, 0, 0, 0.22);
}

.question__picture {
  background: url(../assets/images/guess.png) no-repeat;
  background-size: contain;
  width: 150px;
  height: 130px;
  margin: 10px;
}

.question__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background: linear-gradient(45deg, rgb(248, 219, 229) 0%, rgb(255, 252, 247) 94%);
}

.question__name {
  margin-left: 5%;
  color: #2c0d1f;
}

.audio-player-container {
  width: 100%;
  height: 70px;
  background: transparent;
}

.desc__player {
  width: 100%;
  height: 30px;
}

audio {
  width: 100%;
  height: 50px;
  margin: 10px auto;
}

audio::-webkit-media-controls-panel {
  background: linear-gradient(45deg, rgb(248, 219, 229) 0%, rgb(255, 252, 247) 94%);
}

audio::-webkit-media-controls-current-time-display {
  color: #2c0d1f;
  font-size: 16px;
}

audio::-webkit-media-controls-time-remaining-display {
  color: #2c0d1f;
  font-size: 16px;
}

.answer {
  display: flex;
  flex-wrap: nowrap;
  -moz-column-gap: 5%;
       column-gap: 5%;
}

.options {
  width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: linear-gradient(45deg, rgb(248, 219, 229) 0%, rgb(255, 252, 247) 94%);
  box-shadow: 0 9px 28px rgba(0, 0, 0, 0.3), 0 8px 12px rgba(0, 0, 0, 0.22);
}
.options ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.options__el {
  padding: 10px 15px 10px 25px;
  font-size: 18px;
  letter-spacing: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.options__el:hover {
  scale: 1.02;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  color: #2c0d1f;
}

.--wrong {
  background-color: rgba(213, 76, 128, 0.3);
  transition: opacity 1s ease-in-out;
  opacity: 0;
  text-decoration: line-through;
}

.--right {
  background-color: rgba(108, 215, 176, 0.5);
}

.description {
  width: 50%;
  background: linear-gradient(45deg, rgb(248, 219, 229) 0%, rgb(255, 252, 247) 94%);
  box-shadow: 0 9px 28px rgba(0, 0, 0, 0.3), 0 8px 12px rgba(0, 0, 0, 0.22);
  padding: 10px 15px;
}

.description-wrapper {
  display: flex;
  flex-direction: column;
}

.description__about {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.desc__img {
  width: 200px;
  height: 150px;
  background: #E7A1AC;
}

.desc__info {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.desc__name {
  font-size: 18px;
  font-weight: 700;
  color: #2c0d1f;
  text-align: center;
}

.desc__name-latin {
  font-size: 14px;
  text-align: center;
  font-style: italic;
}

hr {
  border: none;
  border-top: 2px solid #765f68;
  overflow: visible;
  text-align: center;
  height: 1px;
  opacity: 0.3;
  width: 75%;
}

.hr1 {
  width: 50%;
}

.description__text {
  padding: 5px 10px;
}

.next-lvl-btn {
  height: 40px;
  margin: 15px 0;
  border: none;
  background-color: #E7A1AC;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  color: #2c0d1f;
  transition: all 0.3s ease-in-out;
}
.next-lvl-btn:hover {
  background-color: #ceabd1;
  cursor: pointer;
  letter-spacing: 1.5px;
}

.--disabled {
  background: linear-gradient(45deg, rgb(248, 219, 229) 0%, rgb(255, 252, 247) 94%);
  opacity: 0.5;
  cursor: auto;
}
.--disabled:hover {
  letter-spacing: 1px;
  cursor: default;
}/*# sourceMappingURL=main.css.map */